<div class="top">
  <h1>{{title}}</h1>
</div>

<ng-content></ng-content>

<div class="spotlight" [style.background-image]="'url('+ serie.serie_poster +')'">
  <div class="gradient"></div>

  <div>
    <div class="info">
      <div class="series" *ngFor="let serie of similar">
        <img loading="lazy" [src]="serie.serie_poster" alt="poster">
        <h2>{{serie.serie_title}}</h2>
        <p><em>Temporadas: </em>{{serie.serie_seasons}}</p>
        <p><em>Episodios: </em>{{serie.serie_episodes}}</p>
      </div>
    </div>
  </div>
</div>
